<div>
  <ul>
    <li>
      Number of products: <%= @products_nb %>
    </li>
    <li>
      Number of categories: <%= @categories_nb %>
    </li>
  </ul>
</div>
<div>
  <%= link_to 'Products', admin_products_path %>
</div>
